h1{
    text-align: center;
}

.min-div{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.max-div{
    display: flex;
    justify-content: center;
    margin: 5px;
}

#minInput,#maxInput{
    margin: 15px;
    text-align: center;
}

.gen-box{
    display: flex;
    margin: auto;
}
.gen-btn{
    padding: 20px;
    font-size: 40px;
    margin: auto;
}

.view h1{
    font-size: 70px;
    margin:0;
}